$BG-color: #282828;
body{
    background-color: $BG-color ;

    .main{
        
        .main__coders{
            padding: 0.2em;
            margin-top: 5vh;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            
        }
        .main__coder{
            display:flex;
            flex-direction: column;
            width: 95%;
            margin: 0.5em 0.5em;
        }
        .main__coder__img{
            width: 100%;
        }
        .main__coder__text{
            width:100%;
            height: 20%;
            color: white;
            text-align: center;
            padding-top: 1.5em;
        }
    }
}


